@media screen and (min-width:741px) {
    /* top */
    .hand {top: -80px;}

    #top_right h2 {font-size: 2.8rem; line-height: 3rem;letter-spacing: 3px; } 
    #top_right h4 {font-size: 1.2rem;} 
    #top_right h4 span { font-size: 2rem; } 

    #top_info > p:first-child { font-size: 1.2rem;} 
    #top_info > p:first-child span { font-size: 1.6rem; } 
    #top_info > p:last-child {font-size: 1.2rem;} 
    #top_info > p:last-child span { font-size: 1.6rem;} 

    #top_right > p:last-child a {justify-content: space-between;  padding: 20px; box-sizing: border-box; gap:40px; width: max-content;} 
    #top_right > p:last-child a span { font-size: 1rem;} 
    #top_right > p:last-child a i { font-size: 1rem; } 

    /* new */
    #new_bg>.wrap { width: 80%; font-size: 1.2rem;} 

    #new_bg_text { width: 70%; } 
    #new_bg_text a {justify-content: space-between;}
    #new_bg_text a div p:first-child { color: #e60613; font-size: 1rem; margin-bottom: 10px; } 

    /* vivid */
    #display h4 {font-size: 2.8rem;} 
    #display h4 span {font-size: 1rem;}

    #color p {left:-50px; } 
    #color video {top: 345px; left: 380px;}

    #big_screen h4 #slim {font-size: 1.4rem;} 

    #big_screen>p {font-size: 1rem;} 

    #model_type{display: flex; width: 80%; margin: 0 auto; justify-content: space-between;}
    #model_type>p { display: flex; flex-direction: column; gap:20px; align-items: center;} 
    #model_type>p span { font-size: 1rem; letter-spacing: 2px; } 

    #compare button {font-size: 1rem;}
    #compare div:last-child {font-size: 1rem; width: max-content;} 

    .sect-end {height: 350px;}

    /* stand */
    #adjustable h4 {font-size: 2.8rem;} 
    #adjustable h4 span {font-size: 1rem;} 

    #stand_img img {transform: scale(2.3);}

    #stand-right .heading{font-size: 2rem;}

    #stand-right>p { font-size: 1rem;}

    /* others */
    #others h4 {font-size: 2.8rem;} 
    #others h4 span {font-size: 1rem;}

    #others .heading{font-size: 2rem; margin: 40px auto 20px;}
    #others_left p {font-size: 1rem; width: 80%; margin: 0 auto; }

    #memory p span{font-size: 0.9rem; }

    #speaker p{font-size: 1rem;}
    #speaker{margin-bottom: 450px;}

    #gallery{transform: translateY(-360px);}
    #gallery h4 {font-size: 2.8rem;} 
    #gallery h4 span {font-size: 1rem;}
    
    /* mode */
    #mode h4{font-size: 1rem;}

    #mode_top_right span{font-size: 1.6rem; margin-bottom: 20px;}
    #mode_top_right .heading{font-size: 2.8rem;}
    #mode_top_right p{font-size: 1rem;}

    #mode_list li{display: flex; }
    .mode_left{position: relative; left: -30px;}
    .mode_left img{width: 100%; height: 100%; object-fit: cover; object-position: center;}

    .mode_right{padding:20px 20px 20px 0; box-sizing: border-box; width: 100%;}

    .mode_text_head { height: auto; margin-bottom: 70px; font-size: 1.6rem;}
    .mode_text_head span:last-child{writing-mode: horizontal-tb; margin: 0; font-size: 1rem;}

    .mode_text_bottom h6{width: 100%; height: auto; padding-bottom: 10px;}
    .mode_text_bottom p{font-size: 1rem;}

    .mode_text_bottom{position: static; padding: 0;}
    .mode_text_bottom>p:nth-child(2){width: 30%;}

    /* joycon */
    #joycon_top>p:last-child{width: 120%;}

    #joycon_top_left .heading{font-size: 2.8rem;}
    #joycon_top_left .heading span{font-size: 1.6rem; margin-bottom: 20px;}
    #joycon_top_left p{font-size: 1rem; width: 80%; margin: 0 auto;}

    /* multi */
    #multi .wrap>p:nth-child(2){transform: translateY(-50%);padding:20px 10px; font-size: 1.6rem; margin-bottom: 40px;}

    .multi_text{font-size: 1rem; width: 80%; margin: 0 auto 40px;}
    .multi_text span{font-size: 1.6rem;}

    /* line-up */
    #line-up h4 {font-size: 2.8rem;} 
    #line-up h4 span {font-size: 1rem;}

    #release{gap:40px;}
    #release p{font-size: 1rem;}
    #release p span{font-size: 1.4rem;}

    #model{margin-bottom: 60px;}
    #model li{display: flex; flex-direction: row-reverse; gap:20px;}
    #model li:first-child{margin-bottom: 40px;}

    .model_photo{width: 100%;}
    .model_photo img{height: 100%; object-fit: cover;}

    .model_info{flex-direction: column;}
    .model_info img{position: static; width: 100%;}

    .model_text{ text-align: center; padding: 0;}

    .model_info p:first-child{font-size: 1.4rem; margin-bottom: 20px; border-top: 1px solid #e60613; border-bottom: 1px solid #e60613; padding: 20px 0;}
    .model_info p span{letter-spacing: 1px; margin-bottom: 10px;}

    /* detail */
    #detail p a{font-size: 1rem;}

    /* question */
    .ques{gap:20px;}
    .answer{gap:20px;}
}

@media screen and (min-width:1024px) {
    .wrap{width: 960px; margin: 0 auto;}
    
    /* top */
    #top{overflow: visible;}
    #top_left{z-index: 10;}
    #top .wrap{display: flex; align-items: center;}
    #top_right h2 {line-height: 4rem;}
    #top_info {flex-direction: column; align-items: flex-start;}

    /* new */
    #new{height: auto; position:relative;}
    #new_bg { width: 100%; height: 100%; position: static;}
    
    #new_bg>.wrap{width: 960px; height: 100vh; display: flex; flex-direction: column; justify-content:center; align-items:flex-end;}
    #new_bg .wrap p{width: 433px; line-height: 2.4rem;  position: relative;}

    #new_bg_text { width: 40%; position: absolute; top: 135vh; left: 0; transform: translateY(-50%);}
    #new_bg_text a {justify-content: flex-end;}

    #vid { width: 100%; height: 70vh; position: static; } 

    /* vivid */
    #color p {text-align: center;} 
    #color video {top: 340px; left: calc(50% - 100px);}

    #model_type{width: 60%;}

    #big_screen video {top: calc(960px * (34 / 1030));}

    .sect-end {width: 960px; height: 30vh; margin: 180px auto 0;}


    /* stand */
    #stand{padding-top: 160px;}

    #adjustable{position: relative;}
    #adjustable h4{position: absolute; top: 0; left: 0;}

    #stand_img img {transform: scale(1.3);} 

    #stand-info{margin-top: 130px;  display: flex; align-items: end; gap:5%;}
    #stand-info>p{width: 50%; transform: none; margin: 0;}
    #stand-info>p span{width: 50%;}

    #stand-right .heading{position: static; margin-bottom: 40px;}
    #stand-right>p {text-align: left;}

    /* others */
    #others{padding-top:160px; }
    #others .wrap{position: relative;}

    #others h4{margin-bottom: 120px;}

    #others_right{width: 50%;height: 400px; position: absolute; margin:0; top: 0; right: 0;}
    #others_right p{opacity: 1; transition: opacity 0.3s;}
    #others_right p.off{opacity: 0;}
   
    #others_left>div{width: 50%; height: 50vh;}
    #others .heading{margin: 40px 0 20px;}
    #others_left p{text-align: left; margin: 0;}

    #memory p:first-child{display: none;}

    /* gallery */
    #gallery{padding-left: calc(50vw - (960px / 2)); }

    #photos li{width: 50%}

    #photos::-webkit-scrollbar {display: block; background: rgba(0,0,0,0.0);} 
    #photos::-webkit-scrollbar-thumb { background: #e60613; border-radius: 15px;} 
    #photos::-webkit-scrollbar-track{display: none;}

    /* mode */
    #mode .wrap{position: relative;}
    #mode h4{width: max-content; writing-mode: horizontal-tb; font-size: 1.4rem; border:none; border-bottom: 5px solid #e60613; padding:0 0 10px 0; left:auto; right:20px; top: 0;}
    
    #mode_top{display: flex; align-items: end; gap:5%;}
    #mode_top>p{position: static; left: 0; width: 50%;}
    #mode_top>p span{width: 50%;}
    #mode_top img{width: 100%; transform: none;}

    #mode_top_right{text-align: left; margin-bottom: 60px;}

    /* joycon */
    #joycon{text-align: left; height:calc((960px * 0.85) * (818 / 1135));}
    #joycon_top{position: relative;}
    #joycon_top_left{width: 50%;}
    #joycon_top_left p{width: 100%;}
    
    #joycon_top>p:last-child{width: 85%; position: absolute; z-index: 5; right: 0; top: 0; transform: translate(50%, 0);}

    #multi{position: relative; top: -100px; margin: 0; }
    /*detail*/
    #detail{width: 960px; margin: 60px auto 0;}
    #detail p{text-align: center;}
    
    /* go_top */
    #go_top a{right:calc(((100vw - 960px) / 2) + 20px);}
}

@media screen and (min-width:1320px) {
    .wrap, #detail{width: 1280px;}
    #new_bg>.wrap{width: 1280px;} 
    
    #model_type{width: 50%;}
    
    #big_screen video {top: calc(1280px * (34 / 1030));}
    
    .sect-end {width: 1280px; }
    
    #gallery{padding-left: calc(50vw - (1280px / 2)); }
    
    #photos li{width: 40%}
    
    #joycon{text-align: left; height:calc((1280px * 0.85) * (818 / 1135));}
    #multi{position: relative; top: -200px;}
    /* go_top */
    #go_top a{right:calc(((100vw - 1280px) / 2) + 20px);}
}